h1 {
  font-family: 'nobileregular', sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  padding-top: 66px;
  color: #1F85DE;
}

body {
  background: image_url('cake.jpg');
  background-size: cover; 
}

p {
  font-family: 'nobileregular', cursive;
  font-size: 28px;
  text-align: center;
  color: #DE1FB7
}